:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --black-color: #000000;
  --icon-color: #afb1b8;
  --text-white-opacity: rgba(255, 255, 255, 0.6);
  --button-primaty-hover: #188ce8;
  --button-filter: #f5f4fa;
  --background-black: #2f303a;
  --background-grey: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--small {
  padding-top: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  Logo */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--black {
  color: var(--black-color);
}

.logo--white {
  color: var(--primary-white-color);
}

/* Header section */
.container--header,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu__item:not(:last-child),
.contacts-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__page,
.contacts-menu__contact {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu__contact {
  color: var(--primary-text-color);
}

.contacts-menu__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-menu__page:hover,
.nav-menu__page:focus,
.nav-menu__page--current,
.contacts-menu__contact:hover,
.contacts-menu__contact:focus {
  color: var(--accent-color);
}

.nav-menu__page {
  position: relative;
}

.nav-menu__page--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

/* Footer section */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-black);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -12px;
  margin-left: -87px;
  align-items: baseline;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.address__contact {
  color: var(--text-white-opacity);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__contact:hover,
.address__contact:focus {
  color: var(--primary-white-color);
}

.footer-grid {
  margin-top: 12px;
  margin-left: 87px;
}

.footer__heading {
  display: flex;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
}

.social-footer {
  display: flex;
}

.social-footer__item + .social-footer__item {
  margin-left: 10px;
}

.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover,
.social-footer__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-footer__icon {
  fill: currentColor;
}

.footer-form__input {
  margin: 0 12px 0 0;
  padding: 14px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:hover,
.footer-form__input:focus {
  outline: none;
  border-color: var(--primary-white-color);
}

.button__icon {
  margin-left: 4px;
  vertical-align: middle;
  fill: currentColor;
}

/* Buttons */
.button {
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button__primary {
  padding: 10px 0;
  width: 200px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__primary:hover,
.button__primary:focus {
  background-color: var(--button-primaty-hover);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;
  background-color: var(--button-filter);
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus,
.filter__button.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Studio page */
.section__title {
  margin-bottom: 50px;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--background-black);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Benefit section */
.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-grey);
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__description {
  line-height: 1.71;
}

/* What we do section */
.services {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.services__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/* Team section */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.section--background {
  background-color: var(--background-grey);
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__image {
  margin-bottom: 30px;
}

.team__name,
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  color: var(--primary-black-color);
  font-weight: 500;
}

.team__position {
  margin-bottom: 16px;
}

.social-team {
  display: flex;
  justify-content: center;
}

.social-team__item + .social-team__item {
  margin-left: 10px;
}

/* Another way to align social network links in team section */

/* .social-team {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
    margin-top: -10px;
  }
  
  .social-team__item {
    flex-basis: calc(100% / 4 - 32px);
    margin-left: 10px;
    margin-top: 10px;
  } */

.social-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  color: var(--icon-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team__link:hover,
.social-team__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-team__icon {
  fill: currentColor;
}

/* Partners section */

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  color: var(--black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close__icon {
  fill: currentColor;
}

.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.87;
  text-align: center;
  color: var(--primary-black-color);
}

.form__field {
  display: block;
  position: relative;
}

.button__primary--center {
  display: block;
  margin: auto;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--primary-black-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__label {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  margin: 0 0 29px 0;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87;
  letter-spacing: 0.01em;
  color: var(--primary-black-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  padding-left: 16px;
  margin-bottom: 24px;
}

.form__input:hover,
.form__textarea:hover,
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

.form__checkmark {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__check-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: none;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Outline for custom checkbox */
.form__checkmark:focus + .form__check-icon,
.form__checkmark:checked:focus + .form__check-icon {
  outline: 2px solid var(--primary-black-color);
}

.form__checkmark:checked + .form__check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: var(--primary-white-color);
  outline: none;
}

.form__terms {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio page */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-grid__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  display: block;
}
.projects-grid__item:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__description {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-grid__item:hover .project__overlay,
.project:focus .project__overlay {
  transform: translateY(0);
}

.project__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.project__substrate {
  background-color: var(--primary-white-color);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project__name {
  margin-bottom: 4px;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
