.button {
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button__primary {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 200px;
  background-color: $accent-color;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-primaty-hover;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
  }

  &--center {
    display: block;
    margin: auto;
  }
}

.button__icon {
  margin-left: 4px;
  vertical-align: middle;
  fill: currentColor;
}
