.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-height: 600px) {
    overflow-y: scroll;
  }
}

.modal {
  padding: 40px;
  height: 100vh;

  background-color: $primary-white-color;

  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 450px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  @media screen and (max-height: 430px) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
      transform: translatex(-50%) scale(0.8);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $primary-white-color;
  color: $black-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.form__name {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $primary-black-color;
}

.form__label {
  display: block;
  position: relative;
  margin: 0 0 29px 0;

  &--textarea {
    margin: 0 0 29px 0;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: $primary-black-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:hover + &,
  .form__input:focus + & {
    fill: $accent-color;
  }
}

.form__title {
  position: absolute;
  top: -16px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  width: 100%;
  padding: 11px 16px 11px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  line-height: 0.87;
  letter-spacing: 0.01em;
  color: $primary-black-color;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.form__textarea {
  padding-left: 16px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__checkmark {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__check-icon {
  min-width: 16px;
  height: 16px;
  margin-right: 7px;
  fill: none;
  border: 2px solid $primary-black-color;
  border-radius: 2px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Outline for custom checkbox */
  .form__checkmark:hover + &,
  .form__checkmark:focus + &,
  .form__checkmark:checked:focus + & {
    border: 2px solid $accent-color;
  }

  .form__checkmark:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
    fill: $primary-white-color;
  }
}

.form__agreement {
  font-size: 12px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.form__terms {
  color: $accent-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
