$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #212121;
$black-color: #000000;
$icon-color: #afb1b8;
$text-white-opacity: rgba(255, 255, 255, 0.6);
$button-primaty-hover: #188ce8;
$button-filter: #f5f4fa;
$background-black: #2f303a;
$background-grey: #f5f4fa;
