.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  color: $icon-color;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
